*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:pink;
}

.logo{
    position: grid;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 20px;
}

a:hover{
    background-color: rgba(255,255, 255, .3);
}

nav{
    background-color: #5434af;
    height: 60px;
    top: 0;
    position: grid;
    z-index: 10;
}

ul#ul-principal{
    width: 90%;
    margin: auto;
}

.li-p{
    line-height: 60px;
    float: left;
}


ul li ul li{
    background-color: #5434af;
}

.ul-Inicio, .ul-albuns, .ul-administracao{
    display: none;
}

nav ul li:hover > .ul-administracao{
    display:block;
}

nav ul li:hover > .ul-albuns{
    display:block
}

nav ul li:hover > .ul-Inicio{
    display:block
}