* {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
}

nav, footer, video, object, embed { 
    display:none; 
}

.print {
    display:block;
    }
    
.no-print { 
    display:none; 
}

img {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.wrap { 
    width: 100%; 
    margin: 0; 
    float: none !important; 
}

body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    color: #000;
}
    
h1 {
    font-size: 24pt;
}
    
h2 {
    font-size: 18pt;
}
    
h3 {
    font-size: 14pt;
}

a, a:visited {
    text-decoration: underline;
    
}

a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
   
}

a:after, a[href^="javascript:"]:after, a[href^="#"]:after { 
    content: ""; 
}

p a {
    word-wrap: break-word;
}

